@media screen and (min-width: 320px) {
  .container__save-button {
    border-radius: 2px;
    background-color: #000;
    width: 238px;
    height: 46px;
    color: #fff;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    margin: 45px 0 25px;
    border: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    padding: 0;
  }

  .container__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .container__save-button {
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 21.78px;
    margin: 48px 0 37px;
  }
}
