@media screen and (min-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

@media screen and (min-width: 880px) {
  .profile {
    margin: 0 auto 51px;
    max-width: 880px;
    flex-direction: row;
    align-items: center;
  }
}
