@media screen and (min-width: 320px) {
  .header__logo {
    width: 103.74px;
    margin: 0 0 28px 27px;
  }
}

@media screen and (min-width: 880px) {
  .header__logo {
    width: 142px;
    margin: 0 0 37px;
  }
}
