.card__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  transition-property: opacity;
  transition-duration: 0.5s;
  background-color: transparent;
  z-index: 1;
}

.card__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
